<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTSS Calculator | Climbing Training Stress Score</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>

</head>
<body>
    <div class="header">
        <h1>Climbing Training Stress Score Calculator</h1>
        <p>Choose your session</p>
    </div>
    <!-- TODO add some charts and stuff so you can see trends over time -->
    <!-- TODO make the TSB cell red or green on a gradient depending on readiness -->
    <div id="training-load-container"></div>
    <div class="menu-container">
        <a href="bouldering.html" class="menu-item">
            <i class="fas fa-mountain"></i>
            <span>Bouldering</span>
        </a>
        <a href="endurance.html" class="menu-item">
            <i class="fas fa-route"></i>
            <span>Endurance</span>
        </a>
        <a href="hangboard.html" class="menu-item">
            <i class="fas fa-hand-rock"></i>
            <span>Hangboard</span>
        </a>
        <a id="darkModeToggle" class="menu-item">
            <i class="fas fa-moon"></i>
            <span>Toggle Dark Mode</span>
        </a>
    </div>
    <div style="height: 300px;">
        <canvas id="ctl-chart"></canvas>
    </div>
    <script src="{{ url_for('static', filename='training_load.js') }}"></script>
    <script>
        document.getElementById('darkModeToggle').addEventListener('click', function() {
            document.body.classList.toggle('dark-mode');
            localStorage.setItem('darkMode', document.body.classList.contains('dark-mode'));

            createCtlChart();
        });
        
        if (localStorage.getItem('darkMode') === 'true') {
            document.body.classList.add('dark-mode');
        }
    </script>
</body>
</html>